<div class="container">
    <h1>Apps</h1>
    <hr />
    <h2>Recycling Information</h2>
    <h4>Contract: upcoming-garbage-recycling-dates</h4>

    <ul>
        <li><b>Android:</b> <a target="_blank" href="https://play.google.com/store/apps/details?id=theputnams.net.isitrecyclingweek">Is it recycling week?</a></li>
        <li><b>Pebble:</b> <a target="_blank" href="http://apps.getpebble.com/en_US/application/55b5a5e22448b37a56000018">Recycling Date Checker</a> (update with contract support coming soon!)</li>
        <li><b>Web:</b> <a target="_blank" href="http://dhmncivichacks.github.io/isitrecyclingweek-web/">Is it Recycling?</a></li>
    </ul>
</div>