<div class="container">
    <h1>Apps</h1>

    <p>Hopefully the plural form of App will be valid in the near future!</p>

    <ul>
        <li><b><a href="https://github.com/zo0o0ot/AppletonPebble">Appleton Pebble</a>:</b> A Pebble smartwatch app that uses the <b>upcoming-garbage-recycling-dates</b> contract to show if it's recycling week or not!</li>
    </ul>
</div>