<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>Civic Hack API Locator</h1>
        <p>A central hub for APIs exposing civic data, allowing data to be shared in common formats that makes the data more useful for everyone!</p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Register your API</h2>
            <p>
                Do you have an API exposing civic data in your area?  If you can conform to one of our contracts, you can register your implementation on the site so that others can find and use your API!
                If you don't see a contract that fits your data, submit your own!
            </p>
            <p><i>Dynamic contract/implementation registration coming soon - if you're interested in registering an API, please email <a href="mailto:mrosack@sacknet.org">mrosack@sacknet.org</a></i></p>
            <p><a class="btn btn-default" ui-sref="contracts" role="button">FAQs: How to Implement APIs</a></p>
        </div>
        <div class="col-md-4 col">
            <h2>Consume our APIs</h2>
            <p>Writing an app that uses civic data?  Instead of writing it for a single city, go through our API locator so your app will work with any city that has an implementation registered in our system!</p>
            <p><a class="btn btn-default" ui-sref="contracts" role="button">FAQs: How to Consume APIs</a></p>
            <p><a class="btn btn-default" ui-sref="contracts" role="button">View Contracts &amp; Implementations</a></p>
        </div>
        <div class="col-md-4 col">
            <h2>List your App</h2>
            <p>After you've got your app built, list it here on the site so others can find it and use it!</p>
            <p><a class="btn btn-default" href="#" role="button">View Apps</a></p>
        </div>
    </div>

</div> <!-- /container -->